/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



.synopsis{
  color: #7e8184;
  font-style: italic;
}

/* below is the same as above but using pseudo-class */

/* p:first-of-type {
  color: #7e8184;
  font-style: italic;
} */

.synopsis em {
  font-style: normal;
  font-weight: bold;
}

/* .button {
  color: #fff;
  background-color: #5995da;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
} */

.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: #fff;
  background-color: #5995da;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover, 
.button:visited:hover{
  color: #fff;
  background-color: #76aeed;
}

.button:active,
.button:visited:active {
  color: #fff;
  background-color: red;
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #eeb75a;
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #f5cf8e;
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #eeb75a;
}

#button-2 {
  color: #5d6063;
}

.page {
  width: 600px;
  margin: 0 auto;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:visited:hover {
  color: orange;
}

a:active {
  color: red;
}

a:visited:active {
  color: red;
}

p:last-of-type {
  margin-bottom: 50px;
}

